{% extends 'base.html.twig' %}

{% block body %}
    <h3>Country</h3>
    <h1>{{ country.name }}</h1>


    <h3>Nations in country</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Nation</th>
            <th>Population</th>
        </tr>
        </thead>
        <tbody>
        {% for nationincountry in country.nationsincountries %}
            <tr>
                <td>{{ nationincountry.nation.title }}</td>
                <td>{{ nationincountry.population }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNation"  style="width: 150px;">
        Add nation
    </button>
    <br/>

    <table>
        <tr>
            <td>
                <a href="{{ path('country_index') }}" class="btn btn-info" role="button" style="width: 150px;">
                    Back to the list
                </a>
            </td>

        </tr>
        <tr>
            <td>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" style="width: 150px;">
                {{ form_end(delete_form) }}
            </td>
        </tr>
        <tr>
            <td><a href="{{ path('country_edit', { 'id': country.id }) }}" class="btn btn-warning" role="button"
                   style="width: 150px;">Edit</a></td>
        </tr>
    </table>

    <!-- Modal -->
    <div id="addNation" class="modal fade" role="dialog">
        <div class="modal-dialog">
                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('add_nation_to_country') }}" method="post">
                        <input type="hidden" name="country" value="{{ country.id }}">
                        <table class="table">
                            <tr>
                                <td>Nation</td>
                                <td>
                                    <select name="nation" class="form-control">
                                        {% for nation in allNations %}
                                            <option value="{{ nation.id }}">{{ nation.title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Population</td>
                                <td>
                                    <input type="text" class="form-control" name="population">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" class="btn btn-primary" value="Save" style="width: 200px;">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
